<!DOCTYPE html>
<html>
	<head> 
		<meta name="keywords" content="document, tracker," /> 
		<meta name="description" content="Platform to share and track documents"/> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="okorocelestine@gmail" />
		<title> Document Hub</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script type="text/javascript" src="../routes/user.js" ></script>
		
	</head>
	<body >
	   <div class="header">
	   		<div class="logo">
				<p style="margin:0px;"> dt </p>
	   		</div>

	   		<div class="title">
					Document Hub
	   		</div>

	   	
			<hr style="width:900px; margin-left:180px" />
			
			

	   </div>
	  
	  <div class="signup">

		<form  action="/signup" method="post" >
			<div class="login-header" > <p style="margin-top:-20px"> Sign up </p> </div>
			<p id="result" style="margin-left:5px;margin-top:-20px" >  </p>
	  		<p id="result" >  </p>
	  		<p><input type="text" name="fname" class="signuptxt" placeholder="Last Name" required /> </p> <br />
	  		<p><input type="text" name="lname" class="signuptxt" placeholder="First Name" required /> </p> <br />
	  		<p><input type="text" name="email" class="signuptxt" placeholder="Email" required /> </p> <br />
	  		<p><input type="password" name="pasword" class="signuptxt" placeholder="Password" required /> </p> <br />
	  		
	  		<p style="margin:10px"> Describe yourself here... &nbsp; 
	  			<textarea name="bio" cols="51" rows="5" class="biotxt"  placeholder="Describe yourself here...">  </textarea>  
	  		</p> <br />
	  		<p> <button type="submit" style="float:right;font-size:20px;margin-right:0px"  >Sign Up</button>  </p>
	  </form>
	 </div>

	 
	 	</form>
	 </div>

	</body>
</html>